<section class="container mt-4">
  <section class="d-flex align-items-center">
    <h1 class="me-3">Food Packages</h1>
    <a [routerLink]="[ '/catering/next-recipes' ]" class="link-primary">
      <i class="fa-solid fa-arrow-right"></i>
      Check tomorrow recipes
    </a>
  </section>
  <div class="row row-cols-3 g-4 mt-1">
    @if (foodPackages()) { @for (foodPackage of foodPackages(); track foodPackage.id) {
    <app-food-package [foodPackage]="foodPackage"></app-food-package>
    } } @else {
    <div class="col w-100 text-center">...</div>
    }
  </div>
</section>
