<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" routerLinkActive="active" aria-label="Home">
      <i class="fas fa-home"></i>
      <span class="navbar-title">Home</span>
    </a>
  </div>
  <input type="checkbox" id="navbar-toggle" class="navbar-toggle" />
  <label for="navbar-toggle" class="navbar-hamburger" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div class="navbar-links">
    <a routerLink="/user" routerLinkActive="active" aria-label="Catering">
      <i class="fa-solid fa-users"></i>
      <span>Users</span>
    </a>
    <a routerLink="/catering" routerLinkActive="active" aria-label="Catering">
      <i class="fa-solid fa-carrot"></i>
      <span>Catering</span>
    </a>
    <a routerLink="/calendar" routerLinkActive="active" aria-label="Catering">
      <i class="fa-solid fa-calendar-day"></i>
      <span>Calendar</span>
    </a>
    <a routerLink="/delivery" routerLinkActive="active" aria-label="Catering">
      <i class="fa-solid fa-truck"></i>
      <span>Delivery</span>
    </a>
  </div>
</nav>
